user (3rd person)
1. profile picture
2. uploader name
3. verified or not
4. time of upload
5. the post itself
6. number of likes
7. post caption
8. number of comments
9. comments
10. reply to comments


#comments
1. profile picture
2. name
2. verified or not
3. The comment itself
4. The time of comment
5. Number of likes
6. reply to Thiscomment (same as comment)

#profile picture or name
1. profile picture
2. account name
3. verified or not
4. Number of post
5. number of followers
6. number of following
7. Bio
8. All posts

#user model would expand to
1. Profile picture
2. Bio
3. number of followers
4. number of following
5. number of posts
6. verified or not

#post model



